**/node_modules/*
**/out/*
**/.next/*
shared/prisma/src/*
shared/js/db
**/generated/*

# node
node_modules

# yarn
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
yarn-error.log

tests/e2e/cypress/videos/*