@import 'golden-layout/dist/css/goldenlayout-base.css';
@import 'golden-layout/dist/scss/themes/_goldenlayout-var-theme.scss';

.lm_title {
  color: gray;
  margin-top: -3px;
  font-size: 0.85rem;
}

.lm_tab {
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

.lm_controls {
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  padding: 0 5px;
}

.lm_dropTargetIndicator {
  z-index: 9990;
}

.lm_dragProxy {
  z-index: 9990;
}
